@model string
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User?.Identity?.IsAuthenticated ?? false)
    {   <p>Welcome, @Model</p>
        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
    }
</div>
