@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>user:admin,password:Abcd1234+</p>
<p>user:teacher,password:Abcd1234+</p>
<p>user:student,password:Abcd1234+</p>
